/* THX 4 THE MEMERIES - STYLESHEET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100vh;
}

body {
   /* background-color: lightpink;*/
   margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-family: 'Anonymous Pro', 'Courier New', Courier, monospace;

}

/* BEFORE/ON-LOAD */

main { 
    /*min-width: 320px;*/
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

form#main-search {
    margin: 25px auto;
    padding: 5px;
    width: 100%;
    min-width: 350px;
    border: solid 2px crimson;
    z-index: 1;
    position: fixed;
    background: rgba( 255, 255,255, 0.8);
    display: inline-flex;
}

#main-search input {
    border: solid 3px lightcoral;
    min-width: 320px;
    width: 75%;
    padding: 10px 0;
    border-radius: 20px;
    font-size: 12px;
    letter-spacing: 2px;
    justify-content: center;
    margin: 0 auto;
}

#main-search input[value]{
    font-family: 'Anonymous Pro', 'Courier New', Courier, monospace;
    text-align: center;
}

#main-input-submit {
    width: 100px;
    margin: 0 auto;
    padding: 7px;
    border-radius: 10px;
    font-size: 1em;
    border: 0;
    background-color: coral;
    color: floralwhite;
}

/* GALLERY */
#gif-gallery {
    width: 90%;
    margin: 100px auto;
    padding: 0;
    border: 3px solid crimson;
}

/* INDIVIDUAL GALLERY ITEMS */

div.gif-item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 10px;
    width: 250px;
    height: auto;
    margin: 10px 5px;
    border: 3px solid lightpink;
    background-color: #fff;
    box-shadow: 3px 3px 3px #555;
    border-radius: 5px;
}

.gif-item textarea{
    width: 100%;
    padding: 10px 5px;
    margin-top: 5px;
    font-family: 'Anonymous Pro', 'Courier New', Courier, monospace;
    border: 2px dotted #ddd;
}

.gif-item img {
    width: 100%;
}


/* MEDIA QUERIES */
/* Once viewport reaches 350px, switch to flexbox.*/