/* THX 4 THE MEMERIES - STYLESHEET  */

@keyframes fadeIn {
    0% {
      opacity: 0.0;
    }
    100% {
      opacity: 1.0;
    }
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100vh;
}

body {
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-family: 'Anonymous Pro', 'Courier New', Courier, monospace;
}

button {
    font-family: 'Anonymous Pro', 'Courier New', Courier, monospace;
    font-weight: 900;
    width: 75px;
    margin: 0 5px;
    padding: 5px;
    border-radius: 10px;
    font-size: 1em;
    border: 0;
    background-color: #333;
    opacity: 0.8;
    color: #fff;
}

button:hover {
    transition: ease-in 0.5s;
    background-color:  #a291b1;
}

footer {
    margin: 50px;
    font-size: 12px;
    text-align: center;
}

footer a:link, a:visited {
    color: #a291b1;
    text-decoration: none;
    font-weight: 999;
}

footer a:hover {
    cursor: crosshair;
    transition: ease-in 0.3s;
    color: #333;
}


/* SEARCH BAR */

#main-search {
    width: 100%;
    padding: 10px 5px;
    background: rgba( 255, 255,255, 0.7);
}

form#main-search {
    z-index: 1;
    position: fixed;
    display: flex;
}

 #main-search input{
    border: solid 3px #333;
    background: rgba( 255, 255,255, 0.7);
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
    letter-spacing: 2px;
    user-select: all;
}

#main-search input[value]{
    font-family: 'Anonymous Pro', 'Courier New', Courier, monospace;
    text-align: center;
    user-select: all;
}


#clear-btn {
   display: none;
   padding: 5px;
}

#main-input-submit:hover {
    opacity: 1;
    cursor: pointer;
    transition: 0.5s;
}

/* GALLERY */
#gif-gallery {
    width: 95%;
    margin: 50px auto;
    padding: 20px;
}

#gif-gallery p {
    padding: 3px 0;
    font-size: 10px;
}

/* INDIVIDUAL GALLERY ITEMS */

div.gif-item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 10px;
    max-width: 200px;
    height: auto;
    margin: 10px 5px;
    border: 2px solid #333;
    background-color: #fff;
    box-shadow: 3px 3px 3px #555;
    border-radius: 5px;
    opacity: 0;
    animation: fadeIn 0.7s 1;
    animation-fill-mode: forwards;
    transition-delay: 3s;
}

.copypasta{
    max-width: 200px;
    height: 50px;
    overflow-x: scroll;
    padding: 10px 5px;
    margin: 5px auto;
    font-family: 'Anonymous Pro', 'Courier New', Courier, monospace;
    font-size: 12px;
    border: 2px dotted #ddd;
    user-select: all;
    -webkit-user-select: all;  
    -moz-user-select: all;
    -ms-user-select: all;
}

.gif-item img {
    width: 100%;
    border: 1px solid #333;
}

/* MEDIA QUERIES */
/* Once viewport reaches 350px, switch to flexbox.*/

@media only screen and (max-width: 500px)  {

    #main-input-submit {
        width: 50px;
        padding: 10px;
    }

    #gif-gallery {
        width: 75%;
        margin: 50px auto;
        display: flex;
        flex-flow: column wrap;
        padding: 0;

    }

    .gif-item {
        min-width: 95%;
        margin: 0 auto;
        padding: 0;
    }

}